﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="CtCombo.ascx.vb" Inherits="Controles.CtCombo" %>

<asp:DropDownList ID="DropDownList1" runat="server" CssClass="TextContenido" Font-Size="10px">
</asp:DropDownList>
