﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Principal.aspx.vb" Inherits="Cobranza.Principal" MasterPageFile="~/MasterPage.Master" %>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1
        {
            width: 100%;
            height: 500px;            
        }
    </style>
 
</asp:Content>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="Contenido">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
<ContentTemplate>
<table class="style1" width="100%" >
            <tr>
                <td  style="border: thin groove #808080; text-align: center">
                <center>
                    <table width=100%>
                	<tr>
                	
                    </tr>
                    </table>
                </center>
                </td>
            </tr>
    </table>
</ContentTemplate>
</asp:UpdatePanel>
</asp:Content>