﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="MAsignacion.ascx.vb" Inherits="Controles.MAsignacion1" %>
<table style="width: 100%;">
<tr>
<td align="center">
    <asp:Label id="lblTituloControl" runat="server" Font-Size="13px"></asp:Label>
</td>
</tr>
</table>


<table style="width: 100%">
		<tr>
			<td align="left" rowspan="3" style="width: 210px">
			<asp:RadioButtonList id="RadioButtonList1" runat="server" Font-Size="11px">
				<asp:ListItem Value="0 ">Cliente Actual: </asp:ListItem>
				<asp:ListItem Value="1">Todos los Clientes Filtrados</asp:ListItem>
				<asp:ListItem Value="3">Los Clientes Filtrados: </asp:ListItem>
			</asp:RadioButtonList>
			</td>
			<td>
			<asp:TextBox id="TextBox1" runat="server" CssClass="auto-style1" Width="200px"></asp:TextBox>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<asp:TextBox id="TextBox2" runat="server" Width="90px"></asp:TextBox>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<table style="width: 100%">
				<tr>
					<td align="right" style="width: 137px">
					<asp:Label id="Label1" runat="server" Font-Size="11px" Text="De: "></asp:Label>
					</td>
					<td style="width: 130px">
					<asp:TextBox id="TextBox3" runat="server" Width="90px"></asp:TextBox>
					</td>
					<td align="right">
					<asp:Label id="Label2" runat="server" Font-Size="11px" Text="Hasta: "></asp:Label>
					</td>
					<td>
					<asp:TextBox id="TextBox4" runat="server" Width="90px"></asp:TextBox>
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
	</fieldset><table style="width: 100%">
		<tr>
			<td align="right" style="width: 270px">
			<asp:Label id="Label3" runat="server" Font-Size="11px" Text="Gestor: "></asp:Label>
			</td>
			<td>
			<asp:DropDownList id="DropDownList1" runat="server" Font-Size="11px" Height="16px">
				<asp:ListItem Value="0">Seleccione</asp:ListItem>
			</asp:DropDownList>
			</td>
		</tr>
		<tr>
			<td align="right" style="width: 270px">
			<asp:ImageButton id="ImageButton2" runat="server" Height="50px" Width="70px"
			 ImageUrl="~/Imagenes/BotonGrabar.png" />
			</td>
			<td>
			<asp:ImageButton id="ImageButton1" runat="server" Height="50px" Width="70px" 
			 ImageUrl="~/Imagenes/BotonCerrar.jpg"/>
			</td>
		</tr>
	</table>